.Hero {
    padding-bottom: 4rem;
    background-image: url(../../assets/images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.heroImage {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 375px) {
    .Hero {
        background-image: url(../../assets/images/bg-curvy-desktop.svg);
    }
    
    .title {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .lead {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

.lead {
    padding: 1rem;
    margin-top: 16px;
    text-align: center;
}