.Feature {
}

.image {
    width: auto;
    height: 4rem;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 375px) {
    .lead {
        padding-left: 7rem;
        padding-right: 6rem;
    }
}


.lead {
    text-align: center;
    padding-bottom: 16px;
}