.App {
    background-color: #1c2230;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h2 {
    font-size: 14px;
}

.title {
    margin-top: 16px;
    padding: 0.4rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

button.btn {
    color: #fff;
    border: unset;
    outline: none;
    border-radius: 2rem;
    padding: 12px 3.5rem;
    font-weight: bold;
    letter-spacing: -0.6px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn-primary {
    background: linear-gradient(90deg, hsl(175.5, 51.5%, 53.9%) 20%, hsl(197.7, 73.6%, 58.4%));

}

button.btn-primary:hover {
    background: linear-gradient(90deg, hsl(175.5, 51.5%, 53.9%) 20%, hsl(197.7, 73.6%, 58.4%));
}

button.btn.btn-outline {
    color: #75afb1;
    font-weight: 400;
    border-bottom: 1px solid #75afb1;
    padding: 0 4px 2px 0px;
    border-radius: 0;
    background-color: unset;
    letter-spacing: 0.3px;
    font-size: 1rem;
}

.img-responsive {
    width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}