.Header {
    padding: 1rem 5px 3rem 5px;
}
.brand {
    width: 100%;
    height: auto
}
.btn {
    background: unset;
    color: #9299a3;
    border: unset;
    cursor: pointer;
}

@media (min-width: 375px) { 
    .Header {
        padding: 4rem 4px 2.5rem 2.5rem;
    }
}